Package: forticlient-vpn
Version: 2.1.3
Section: net
Priority: optional
Architecture: all
Depends: python3 (>= 3.8), python3-tk, python3-pil, python3-pil.imagetk, strongswan, strongswan-swanctl
Maintainer: Jeiel Miranda <jeielmiranda@duck.com>
Description: FortiClient VPN - Interface Gráfica para VPN FortiGate IKEv2
 Interface gráfica simplificada para conexão VPN IKEv2 com
 FortiGate usando strongSwan. Compatível com autenticação
 EAP-MSCHAPv2 + PSK.
Homepage: https://github.com/Miranda3000-CPU/forti-ikev2-linux
